.authentication-page-main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.authentication-container {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  max-width: 40rem;
}

.authentication-heading {
  width: 100%;
}

.authentication-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.error-placeholder {
  height: 1.2rem;
  color: #e76f6f;
  line-height: 1rem;
  font-size: 0.9rem;
}

.authentication-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.authentication-art-border {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authentication-art {
  width: 80%;
  max-width: 30rem;
  min-width: 18rem;
}

@media screen and (max-width: 1000px) {
  .authentication-page-main-container {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .authentication-container {
    gap: 0.5rem;
  }

  .authentication-art {
    height: 18rem;
    width: 18rem;
  }
}

@media screen and (max-width: 400px) {
  .authentication-art {
    height: 15rem;
    width: 15rem;
  }

  .authentication-container {
     justify-content: flex-end;
  }
}
