.search-page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search-results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
}

.search-empty-results-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .search-results-container {
    gap: 2%;
  }
}
