.unwrap-gift-main-container {
  display: flex;
  flex-direction: column;
  padding: 5 rem;
}

.gift-plan-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.gift-plan-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.gift-plan-card {
  flex: 1; /* causes cards to be altered after resizing window and back */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #151515;
  border-radius: 30px;
  background-color: #fff4be;
  padding: 0rem 2rem 2rem 2rem;
}

.gift-plan-occasion-wrapper {
  position: relative;
}

.gift-plan-occasion-binder {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  box-sizing: border-box;
  width: 100%;
  top: -1.3rem;
  z-index: 1;
}

.gift-plan-occasion-binder img {
  height: 2rem;
}

.gift-plan-occasion-title {
  background-color: #ffffff;
  padding: 0 1rem;
  top: 1rem;
}

.gift-plan-occasion-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 3px solid #151515;
  border-radius: 30px;
  padding: 2.5rem 0 2rem 0;
}

.gift-plan-occasion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.gift-plan-occasion img {
  height: 5rem;
  /* margin-top: 0.5rem; */
}

.text-bold {
  font-weight: 500;
}

.text-light {
  font-weight: 300;
}
