.user-page-main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-page-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.user-page-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.user-page-profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-page-id {
  font-weight: 300;
}

.user-page-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  /* width: 100%; */
}

.user-page-wishlists {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user-page-wishlists-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 4rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
  .user-page-actions {
    flex-direction: column;
    gap: 0.5rem;
  }

  .user-page-actions button {
    padding: 0.5rem 4rem;
  }
}

@media screen and (max-width: 800px) {
  .user-page-profile-container {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
  
  .user-page-profile {
    gap: 1rem;
  }

  .user-page-actions {
    flex-direction: row;
    width: 100%;
  }

  .user-page-actions button {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}