.universal-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffe169;
  border: 2px solid #151515;
  border-radius: 30px;
  padding: 0.5rem 4rem;
  font-weight: 500;
  gap: 1rem;
  white-space: nowrap;
}

.universal-button:hover {
  box-shadow: 0 0 0 0.5px #151515;
}

.authentication-button {
  width: 20rem;
  height: 3rem;
}

.view-button {
  flex: 1;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid #151515;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.view-button:hover {
  justify-content: space-between;
}

.btn-arrow {
  width: 0.5rem;
  opacity: 0;
}

.view-button:hover .btn-arrow {
  opacity: 1;
}

.sort-button {
  background-color: #ffffff;
  width: 7rem;
  height: 2rem;
}

.next-prev-button {
  background-color: #ffffff;
  padding: 0rem 0.8rem;
  height: 8rem;
}

.create-new-wishlist-button {
  height: 3rem;
}

.bin-button {
  background-color: #1515154d;
  padding: 1rem;
  width: 2.8rem;
  height: 2.8rem;
}

.submit-button {
  width: 20rem;
  height: 3rem;
}

.wishlist-button-navbar:hover {
  box-shadow: none;
}

.link-button {
  background: #ffffff;
  border: 2px solid #151515;
  border-radius: 30px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-button img {
  width: 1rem;
}

.mark-received-reserve-button {
  padding: 0.4rem 2rem;
  width: 15rem;
}

.white-background {
  background-color: #ffffff;
  /* cursor: default; */
}

.disabled {
  background-color: #1515154d;
  cursor: not-allowed;
}

.disabled:hover {
  box-shadow: none;
}

/* disabled {
  cursor: not-allowed;
}

disabled:hover {
  box-shadow: none;
} */

.close-button {
  padding: 1rem;
  height: 3rem;
  width: 3rem;
}

.create-wishlist-button {
  background-color: #ffffff;
  height: 3rem;
}

.view-friend-button {
  padding: 0.5rem 5rem;
}

.remove-friend-button {
  padding: 0.5rem 3rem;
  background-color: #ffffff;
}

.accept-friend-button {
  background-color: #ffd693;
}

.decline-friend-button {
  background-color: #ffffff;
}

.searchUserButton {
  padding: 0.5rem;
  width: 100%;
}

.share-list-button {
  padding: 0rem 4rem;
  height: 2.5rem;
  background-color: #ffd693;
}

.orange-background {
  background-color: #ffd693;
}

.opacity-disabled {
  opacity: 30%;
  cursor: not-allowed;
}

.opacity-disabled:hover {
  box-shadow: none;
}

.view-wishlist-button {
  padding: 0.5rem 1rem 0.5rem 3rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.view-wishlist-button:hover {
  box-shadow: none;
  gap: 3rem;
}

.view-wishlist-button:hover .arrow {
  transform: translateX(4px);
  font-weight: 600;
}

.unreserve-button {
  padding: 0.4rem 4rem;
}

.edit-item-button {
  background-color: #ffffff;
}

.delete-item-button {
  background-color: #1515154d;
}

.edit-item-button,
.delete-item-button {
  border-radius: 15px;
  padding: 0.5rem;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 1100px) {
  .edit-item-button,
  .delete-item-button {
    border-radius: 30px;
    aspect-ratio: auto;
    flex: 1;
  }
}

@media screen and (max-width: 1000px) {
  .next-prev-button {
    height: 2rem;
    width: 5rem;
  }

  .view-friend-button {
    padding: 0.5rem 3rem;
  }

  .remove-friend-button,
  .accept-friend-button,
  .decline-friend-button {
    padding: 0.5rem 1rem;
  }

  .accept-friend-button,
  .decline-friend-button {
    width: 30%;
  }

  .mark-received-reserve-button {
    /* padding: 0.4rem 1rem; */
    width: 12rem;
  }
}

@media screen and (max-width: 700px) {
  .remove-friend-button {
    padding: 0.5rem 0.6rem;
  }
}

@media screen and (max-width: 600px) {
  .universal-button {
    padding: 0.25rem 2rem;
  }

  .view-button {
    padding: 0.25rem 1rem;
  }

  .link-button {
    padding: 0.4rem;
  }

  .bin-button {
    padding: 0rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  .bin-button img {
    width: 60%;
  }

  .close-button {
    padding: 1rem;
    height: 2.6rem;
    width: 2.6rem;
  }

  .create-wishlist-button {
    width: 40vw;
  }

  .remove-friend-button {
    padding: 0.5rem 0.6rem;
  }

  .view-friend-button {
    padding: 0 5vw;
  }

  .accept-friend-button,
  .decline-friend-button {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .universal-button {
    line-height: 1.2;
    font-size: 0.9rem;
  }

  .view-friend-button {
    width: 100%;
  }
}

.wishlist-button-navbar {
  border: 0px;
  padding: 0rem;
  background-color: transparent;
}
