.confirmation-modal {
  background-color: #ffffff;
  border: 3px solid #151515;
  border-radius: 30px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 3rem;
  justify-content: space-between;
}

.confirmation-modal-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .confirmation-modal {
    gap: 1rem;
    padding: 1.5rem 2rem;
  }

  .confirmation-modal p {
    width: 10rem;
    text-align: center;
  }

  .confirmation-modal-buttons {
    gap: 1rem;
  }
}
