.confirmation-modal {
  background-color: #FFFFFF;
  border: 3px solid #151515;
  border-radius: 30px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 3rem;
  justify-content: space-between;
}

.confirmation-modal-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem
}