.friend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
  width: 100%;
}

.friend-request-padding {
  padding: 0.5rem 0rem 1rem 0rem;
  width: 100%;
  box-sizing: border-box;
}

.friend-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.friend-details {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.friend-item-name {
  font-family: "Playfair";
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.friend-item-id {
  font-weight: 300;
}

.friend-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .friend-actions {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .friend-info {
    gap: 0.5rem;
  }

  .friend-actions {
    gap: 0.5rem;
  }

  .friend-request-padding {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 400px) {
  .friend-item {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    padding: 0.5rem 0;
  }
}
