html,
body,
#root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.outer-layer {
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-border {
  border: 3px solid #151515;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.fixed-top-box {
  padding: 0.5rem 6rem;
  border-bottom: 3px solid #151515;
  background: #c8e7fb;
  position: sticky;
  z-index: 3;
}

.unlogged-in-container {
  display: flex;
  flex-direction: row;
  /* padding-left: 7rem; */
  /* padding-left: 2rem; */
  gap: 2rem;
  align-items: center;
}

.unlogged-in-navbar-icon {
  width: 2.2rem;
}

.unlogged-in-burger,
.logged-in-burger {
  display: none;
  background: transparent;
  padding: 0.7rem;
}

.burger-open {
  background: #ffffff;
  box-shadow: 0 0 0 2px #151515;
  border-radius: 30px;
}

.burger {
  width: 1.5rem;
}

.unlogged-in-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #ffffff;
  border: 3px solid #151515;
  border-radius: 50px;
  width: 60rem;
  height: 3rem;
  padding: 0rem 0.5rem;
}

.unlogged-in-current {
  height: auto;
  width: auto;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 0.2rem 0;
  background-color: #c8e7fb;
  border: 2px solid #151515;
  border-radius: 30px;
}

.unlogged-in-other {
  display: flex;
  justify-content: center;
  flex: 1;
}

.unlogged-in-other-button {
  background: transparent;
  white-space: nowrap;
}

.logged-in-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-wrapper {
  position: relative;
}

.search {
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  height: 1.5rem;
  pointer-events: none;
}

.search-input {
  height: 3rem;
  width: 30vw;
  border: 3px solid #151515;
  border-radius: 30px;
  padding: 0rem 2rem 0rem 4rem;
}

.logged-in-navbar {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

.logged-in-button {
  font-weight: 500;
  padding: 1rem 2rem;
  background: transparent;
  box-sizing: border-box;
  border: 3px solid transparent;
  border-radius: 30px;
}

.logged-in-button:hover {
  border: 3px solid #151515;
  background-color: #ffffff;
}

.scrollable-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  /* padding: 3rem 14rem; */
  padding: 2rem 6rem;
  scrollbar-color: #151515 transparent;
  scrollbar-width: thin;
}

.logo-screen-frame {
  width: 3rem;
}

@media screen and (max-width: 1200px) {
  .fixed-top-box {
    padding: 0.5rem 2rem;
  }

  .unlogged-in-container {
    gap: 1rem;
  }

  .logged-in-navbar {
    display: none;
  }

  .logged-in-burger {
    display: flex;
  }

  .logged-in-burger-open {
    position: absolute;
    top: 5rem;
    right: 1rem;
    border-radius: 15px;
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #c8e7fb;
    border: 3px solid #151515;
    /* height: 16rem; */
    width: 10rem;
    z-index: 4;
  }

  .logged-in-button {
    background: #ffffff;
    border: 3px solid #151515;
  }

  .scrollable-content {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  .outer-layer {
    padding: 1rem;
  }

  .fixed-top-box {
    padding: 0.5rem 1rem;
  }

  .unlogged-in-navbar-icon {
    width: 2rem;
  }

  .unlogged-in-container {
    justify-content: space-between;
  }

  .unlogged-in-navbar {
    display: none;
  }

  .unlogged-in-burger {
    display: flex;
    padding: 0.4rem;
  }

  .unlogged-in-burger-open {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 10rem;
    z-index: 4;
  }

  .unlogged-in-current {
    width: 80%;
  }

  .unlogged-in-navbar.open,
  .logged-in-navbar.open {
    display: flex;
  }

  .search-input {
    height: 2rem;
    padding-left: 3rem;
  }

  .search {
    height: 1.3rem;
    left: 1rem;
  }

  .logged-in-burger {
    padding: 0.4rem;
  }

  .logged-in-burger-open {
    top: 4rem;
  }

  .burger {
    width: 1.2rem;
  }

  .logged-in-button {
    padding: 0.5rem 1rem;
  }

  .scrollable-content {
    padding: 2rem 1rem;
  }
}
