.search-user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 12rem;
  height: 18rem;
  border: 3px solid #151515;
  border-radius: 30px;
  padding: 1rem 2rem;
  gap: 1.2rem;
  cursor: pointer;
}

.search-user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.search-user-profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-user-profile-name {
  font-family: Playfair;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.search-user-profile-id {
  font-weight: 300;
}

.search-user-details {
  width: 100%;
}

.search-user-details-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-user-action {
  width: 100%;
}
