.wishlist-card-container {
  display: flex;
  width: 100%;
}

.wishlist-card-wrapper {
  position: relative;
  width: 100%;
}

.wishlist-paperclip {
  position: absolute;
  top: -1.95rem;
  left: 3.5rem;
  z-index: 1;
}

.wishlist-binder {
  position: absolute;
  right: -1.4rem;
  top: 3.4rem;
  z-index: 1;
}

.binder-right {
  right: auto;
  left: -1.4rem;
  transform: scaleX(-1);
}

.wishlist-card {
  padding: 2rem 3rem;
  border-radius: 30px;
  border: 2px solid #151515;
  flex: 1 0 20rem;
  width: auto;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.wishlist-card-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wishlist-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wishlist-card-owner {
  font-family: "Playfair";
  font-style: italic;
  font-size: 1.2rem;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 0.8rem;
  width: 100%;
}

.progress-track {
  background-color: white;
  flex: 1 0;
  max-width: 40%;
  height: 1rem;
  overflow: hidden;
  border: 2px solid #151515;
  border-radius: 1rem;
}

.progress-fill {
  height: 100%;
  transform: translate(-2px, -1.6px);
  border: 2px solid #151515;
  border-radius: 1rem;
}

.wishlist-card-footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.privacy-toggle {
  width: 6rem;
  height: 2.8rem;
  border: 2px solid #151515;
  border-radius: 2rem;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0;
}

.privacy-toggle.private {
  background-color: #1515154d;
}

.privacy-thumb {
  position: absolute;
  top: 50%;
  left: 0.2rem;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid #151515;
  border-radius: 30px;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s ease;
}

.privacy-toggle.private .privacy-thumb {
  left: 3.3rem;
}

@media screen and (max-width: 600px) {
  .paperclip-icon {
    width: 80%;
  }

  .wishlist-paperclip {
    position: absolute;
    top: -1.57rem;
    left: 2.6rem;
    z-index: 1;
  }

  .wishlist-binder {
    position: absolute;
    top: 3.5rem;
    right: -2.2rem;
    z-index: 1;
  }

  .binder-right {
    right: auto;
    left: -2.2rem;
  }

  .binder-icon {
    width: 60%;
  }

  .wishlist-card {
    min-width: 1rem;
    padding: 1rem 1.3rem;
    gap: 3rem;
  }

  .progress-bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
    height: 2rem;
  }

  .progress-track {
    flex: 0 0 auto;
    width: 80%;
    max-width: 100%;
    height: 1rem;
    flex: none;
  }

  .progress-fill {
    transform: translate(-2px, -2px);
  }

  .wishlist-card-footer {
    gap: 0.5rem;
  }

  .privacy-toggle {
    width: 4rem;
    height: 2rem;
  }

  .privacy-thumb {
    width: 1rem;
    height: 1rem;
    left: 0.1rem;
  }

  .privacy-thumb img {
    width: 70%;
  }

  .privacy-toggle.private .privacy-thumb {
    left: 2rem;
  }
}
